@{
    ViewBag.Title = "Home Page";
}


<div class="row">
    <form >
        <br />
        <br />
        <br />
        <div>
            <text>用户名</text>
            <input type="text" name="username" />
        </div>
        <br />
        <div>
            <text>密码&nbsp&nbsp&nbsp&nbsp</text>
            <input type="text" name="password" />
        </div>
    </form>
  

</div>