@{
    ViewBag.Title = "Home Page";
}

@using (Html.BeginForm("Index", "Home", FormMethod.Post))
{
    <div class="row">
        <form>
            <br />
            <br />
            <br />
            <div>
                <text>用户名</text>
                @Html.TextBox("username")
            </div>
            <br />
            <div>
                <text>密码&nbsp&nbsp&nbsp&nbsp</text>
                @Html.TextBox("password")
            </div>
        </form>
        <br /><br />

        &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;<input type="submit" value="登录" />
    </div>
}
