
@{
    ViewBag.Title = "上传数据";
}

<form action="/Home/UpLoadData" method="post" enctype="multipart/form-data">
    <p></p> <input type="file" name="file" /><br />
    <input type="submit" value="提交" />
</form>

